<% if current_user == session[:id] %>
   <p style="text-align: right"><%= message.user.username %>: <%= translation = TRANSLATOR.translate message.content, to: @target %></p>
   <p><% "Original text: #{message.content}, Translation: #{translation}"%></p>

<% else %>
   <p style="text-align: left"><%= message.user.username %>:
   <% translation = TRANSLATOR.translate message.content, to: @target %></p>

   <p style="text-align: left"><%= "Original text: #{message.content}, Translation: #{translation}"%></p>

<% end %>
