/* line 6, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
body {
  font-family: "Roboto";
  font-size: 14px;
  animation: move 5s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(#6E8898 10%, #9FB1BC 90%) no-repeat;
  height: 100vh;
}

/* line 21, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
html {
  height: 100%;
}

/* line 24, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 30, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
textarea {
  background-color: white;
}

/* line 33, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.form-control {
  background-color: white;
}

/* line 37, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.user {
  width: 90%;
  margin: 10vh auto;
  border: 3px solid white;
  padding: 40px;
}

/* line 46, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.user__header {
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

/* line 53, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.user__title {
  font-size: 14px;
  margin-bottom: -10px;
  font-weight: 500;
  color: white;
}

/* line 60, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}

/* line 69, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.form--no {
  animation: NO 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* line 75, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.form__input {
  color: white;
  display: block;
  width: 90% !important;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  border-bottom: 1px solid white !important;
}
/* line 87, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.form__input:focus {
  background: #f7f7f7;
}

/* line 108, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.btn-round-lg {
  border-radius: 22.5px;
}

/* line 111, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.btn-round {
  border-radius: 17px;
}

/* line 114, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.btn-round-sm {
  border-radius: 15px;
}

/* line 117, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.btn-round-xs {
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
Removes white gap between slides
*/
/* line 129, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.carousel {
  background: #444;
}

/*
Forces image to be 100% width and not max width of 100%
*/
/* line 136, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.carousel-item .img-fluid {
  width: 100%;
  height: auto;
}

/*
anchors are inline so you need ot make them block to go full width
*/
/* line 144, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.carousel-item a {
  display: block;
  width: 100%;
}

/* line 149, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
footer a {
  color: #bfffff;
}

/* line 152, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
footer a:hover {
  color: white;
}

/* line 156, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.footer-bottom {
  background: #948B89;
}

/* line 160, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.footer-top {
  background: #B6A39E;
}

/* line 163, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
.footer-middle {
  background: #3d6277;
  padding-top: 2em;
  color: white;
}

/* line 169, /Users/luisthomas/temp/The-Team/app/assets/stylesheets/application.scss */
div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6 {
  padding: 0px;
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
